<div>
    <u-head v-if="withHead" :hide="notFound" @load="headLoaded = true"></u-head>
    <div v-if="!withHead || headLoaded" :class="$style.root">
        <img v-if="notFound" :class="$style.img404" src="./assets/404-3.png" alt="404">
        <img v-else :class="$style.unauthImg" src="./assets/block@2x.png" alt="No access">
        <slot>
            <p>{{ unAuthText || (notFound ? 'The page was not found' : 'If you don’t have permission to access, you can contact the administrator to enable permission.') }} <u-link v-if="PlatformPermission['opsMgr'] && platformUrl" :href="platformUrl">Quick configuration</u-link></p>
        </slot>
    </div>
    <u-foot></u-foot>
</div>
