.root {
    display: inline-block;
    position: relative;
    height: 28px;
    line-height: 28px;
}
/* Resolve row height jitter when switching to copied */
.icon > span {
    vertical-align: middle;
}

.icon > span::before {
    vertical-align: middle;
}
